In [ ]:
# Notebook encargada de normalizar las matrices de alturas geopotenciales

In [1]:
%config Completer.use_jedi = False

In [2]:
import os
import pandas as pd
from pathlib import Path
import georasters as gr
import datetime
import numpy as np
from sklearn.preprocessing import StandardScaler, MinMaxScaler

In [3]:
pwd

'/home/joaquinfunes/ProyectoIntegrador_Weather/gfsRaster'

In [55]:
directory_in_str = "/opt/datos/gfsRaster/matrices/" #dentro de ....
pathlist = Path(directory_in_str).glob('**/*HGT_100000*.csv')
#pathlist = Path(directory_in_str).glob('**/*HGT_70000*.csv')
#pathlist = Path(directory_in_str).glob('**/*HGT_50000*.csv')

lista_de_df = list()
lista_de_path = list()

for path in pathlist:
    path_in_str = str(path)
    lista_de_path.append(path_in_str)
    
    df = pd.read_csv (path_in_str)
    np_df = np.array(df)
    df_1d = np_df.reshape(30625)
    lista_de_df.append(df_1d)

# Normalizacion
scaler = MinMaxScaler()
scaler.fit(lista_de_df)
X_train_scaled = scaler.transform(lista_de_df)

# Vuelvo a reshapear para tenerlo en 3d (0, 175, 175)
np_lista_de_df = np.array(X_train_scaled)
np_lista_de_df = np_lista_de_df.reshape(np_lista_de_df.shape[0],175,175)

# Guardo la matriz normalizada en formato csv
for i,j in zip(np_lista_de_df, lista_de_path):
    df_normalizado = pd.DataFrame(i)
    path_in_str = j
    path_in_str = path_in_str.replace("matrices", "matrices_normalizadas")
    
    df_normalizado.to_csv(path_in_str, index=False)
    #print(path_in_str)

In [ ]:
##################################################################################################################

In [ ]:
##################################################################################################################

In [84]:
all_values_50kISBL.mean(axis=0)

array([5891.57000943, 5891.57000943, 5891.57000943, ..., 5807.5540982 ,
       5807.5540982 , 5807.5540982 ])

In [85]:
all_values_50kISBL.mean(axis=1)

array([5840.41405003, 5846.65345241, 5845.37828319, 5840.30349946,
       5848.060832  , 5853.05854611, 5840.72572699, 5835.47838951,
       5848.0916601 , 5855.87386478, 5858.28910426, 5860.05226747,
       5865.0729352 , 5872.14618821, 5865.88879773, 5858.50370608,
       5874.08849238, 5877.76056049, 5877.12111196, 5870.88181928,
       5876.15455938, 5875.44607534, 5859.71336629, 5847.74985391,
       5847.24951492, 5849.25122622, 5839.78224574, 5829.90514811,
       5824.94392109])

In [90]:
scaler = MinMaxScaler()
#scaler = StandardScaler()

In [91]:
scaler.fit(all_values_50kISBL)

MinMaxScaler()

In [92]:
X_train_scaled = scaler.transform(all_values_50kISBL)

In [ ]:
       | value1 value2 ..................................................... value3M
tiff1  |  5500   5478                                                          5800
tiff2  |  5500   5480                                                          5801
tiff3  |
....
tiff29

In [93]:
#por fila (axis=0) me da la media para todas las filas de cada columna

print("media despues del escalado: %s " % X_train_scaled.mean(axis=0))
print("desviación típica despues del escalado: %s " % X_train_scaled.std(axis=0))

media despues del escalado: [0.53174422 0.53174422 0.53174422 ... 0.66655818 0.66655818 0.66655818]
desviación típica despues del escalado: [0.25628083 0.25628083 0.25628083 ... 0.26867737 0.26867737 0.26867737]

In [95]:
print("media antes del escalado : %s " % all_values_50kISBL.mean(axis=0))
print("desviación típica antes del escalado : %s " % all_values_50kISBL.std(axis=0))

media antes del escalado : [5891.57000943 5891.57000943 5891.57000943 ... 5807.5540982  5807.5540982
 5807.5540982 ]
desviación típica antes del escalado : [12.71655964 12.71655964 12.71655964 ... 31.28818835 31.28818835
 31.28818835]

In [102]:
df_100k = pd.read_csv("/opt/datos/gfsRaster/matrices_normalizadas/matriz_input_HGT_50000_2020-08-23Z18:00.csv")
df_100k
#matriz_input_HGT_70000_2021-01-01Z06:00.csv

,0,1,2,3,4,5,6,7,8,9,...,165,166,167,168,169,170,171,172,173,174
0,0.416486,0.416486,0.416486,0.414663,0.414663,0.414663,0.414663,0.414663,0.414663,0.414663,...,0.492047,0.492047,0.492047,0.492047,0.492047,0.501447,0.501447,0.501447,0.501447,0.501447
1,0.416486,0.416486,0.416486,0.414663,0.414663,0.414663,0.414663,0.414663,0.414663,0.414663,...,0.492047,0.492047,0.492047,0.492047,0.492047,0.501447,0.501447,0.501447,0.501447,0.501447
2,0.416486,0.416486,0.416486,0.414663,0.414663,0.414663,0.414663,0.414663,0.414663,0.414663,...,0.492047,0.492047,0.492047,0.492047,0.492047,0.501447,0.501447,0.501447,0.501447,0.501447
3,0.406659,0.406659,0.406659,0.429276,0.429276,0.429276,0.429276,0.429276,0.429276,0.429276,...,0.496352,0.496352,0.496352,0.496352,0.496352,0.508302,0.508302,0.508302,0.508302,0.508302
4,0.406659,0.406659,0.406659,0.429276,0.429276,0.429276,0.429276,0.429276,0.429276,0.429276,...,0.496352,0.496352,0.496352,0.496352,0.496352,0.508302,0.508302,0.508302,0.508302,0.508302
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
170,0.343205,0.343205,0.343205,0.345026,0.345026,0.345026,0.345026,0.345026,0.345026,0.345026,...,0.485333,0.485333,0.485333,0.485333,0.485333,0.493821,0.493821,0.493821,0.493821,0.493821
171,0.343205,0.343205,0.343205,0.345026,0.345026,0.345026,0.345026,0.345026,0.345026,0.345026,...,0.485333,0.485333,0.485333,0.485333,0.485333,0.493821,0.493821,0.493821,0.493821,0.493821
172,0.343205,0.343205,0.343205,0.345026,0.345026,0.345026,0.345026,0.345026,0.345026,0.345026,...,0.485333,0.485333,0.485333,0.485333,0.485333,0.493821,0.493821,0.493821,0.493821,0.493821
173,0.343205,0.343205,0.343205,0.345026,0.345026,0.345026,0.345026,0.345026,0.345026,0.345026,...,0.485333,0.485333,0.485333,0.485333,0.485333,0.493821,0.493821,0.493821,0.493821,0.493821
174,0.343205,0.343205,0.343205,0.345026,0.345026,0.345026,0.345026,0.345026,0.345026,0.345026,...,0.485333,0.485333,0.485333,0.485333,0.485333,0.493821,0.493821,0.493821,0.493821,0.493821

In [ ]:
# la parte del diccionario
directory_in_str = "geotiff/2020_01/"
pathlist50k = Path(directory_in_str).glob('**/*HGT_50000*.tiff')
pathlist70k = Path(directory_in_str).glob('**/*HGT_70000*.tiff')
pathlist100k = Path(directory_in_str).glob('**/*HGT_100000*.tiff')


i = pandas.date_range(start="202001011200", end="20200105", freq='3H')
df = pandas.DataFrame(dict(year=i.year, month=i.month, day=i.day, hour=i.hour))
time_format = pandas.to_datetime(df)
times = dict(time_format)
my_dict50k = {}
my_dict70k = {}
my_dict100k = {}



for (key, value), file_tiff in zip(times.items(), pathlist50k):
    path_in_str = str(file_tiff)
    df_50kISBL = gr.from_file(path_in_str)
    df_50kISBL = df_50kISBL.to_pandas()
    df_50kISBL = df_50kISBL["value"]
    my_dict50k[datetime.datetime.strftime(value, "%Y-%m-%d_%H:00")] = df_50kISBL
    #my_dict50k[datetime.datetime.strftime(value, "%Y-%m-%d_%H:00")] = path_in_str
    
for (key, value), file_tiff in zip(times.items(), pathlist70k):
    path_in_str = str(file_tiff)
    df_70kISBL = gr.from_file(path_in_str)
    df_70kISBL = df_70kISBL.to_pandas()
    df_50kISBL = df_70kISBL["value"]
    my_dict70k[datetime.datetime.strftime(value, "%Y-%m-%d_%H:00")] = df_70kISBL
    #my_dict70k[datetime.datetime.strftime(value, "%Y-%m-%d_%H:00")] = path_in_str
    
for (key, value), file_tiff in zip(times.items(), pathlist100k):
    path_in_str = str(file_tiff)
    df_100kISBL = gr.from_file(path_in_str)
    df_100kISBL = df_100kISBL.to_pandas()
    df_50kISBL = df_100kISBL["value"]
    my_dict100k[datetime.datetime.strftime(value, "%Y-%m-%d_%H:00")] = df_100kISBL
    #my_dict100k[datetime.datetime.strftime(value, "%Y-%m-%d_%H:00")] = path_in_str

In [ ]:
all_values_50kISBL = list(my_dict50k.values())
all_values_50kISBL = np.array(all_values_50kISBL)

all_values_50kISBL.shape #cada fila es un dataframe que obtuve del tiff, cada col es una altura