In [1]:
%config Completer.use_jedi = False

In [42]:
import georasters as gr
import pandas as pd
import numpy as np

In [4]:
pwd

'/home/joaquinfunes/ProyectoIntegrador_Weather/wrf-meteo/src'

In [5]:
lluvias = gr.from_file('../geotiff/CBA_A_06_RAINNC_2020-01-01T15:00.tiff')

In [9]:
df_lluvias = lluvias.to_pandas()
df_lluvias

       row  col     value       x       y
0        0    0  0.006982 -67.000 -29.000
1        0    1  0.006982 -66.964 -29.000
2        0    2  0.000026 -66.928 -29.000
3        0    3  0.000000 -66.892 -29.000
4        0    4  0.000013 -66.856 -29.000
...    ...  ...       ...     ...     ...
30620  174  170  0.000008 -60.880 -35.264
30621  174  171  0.000000 -60.844 -35.264
30622  174  172  0.000000 -60.808 -35.264
30623  174  173  0.000000 -60.772 -35.264
30624  174  174  0.000000 -60.736 -35.264

[30625 rows x 5 columns]

In [38]:
df_mask = pd.DataFrame(columns=['valor'])
for i in range(len(df_lluvias)):
    if((df_lluvias.loc[i]['value']) > 1.0):
        df_mask.loc[i] = 1
    else:
        df_mask.loc[i] = 0

In [39]:
df_mask.shape

(30625, 1)

In [44]:
# Reshapeo df_mask para que quede 175 x 175
np_mask = df_mask.to_numpy()
np_mask = np_mask.reshape((175,175))
    
df_mask = pd.DataFrame(np_mask)

In [48]:
df_mask #matriz de tags

,0,1,2,3,4,5,6,7,8,9,...,165,166,167,168,169,170,171,172,173,174
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
170,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
171,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
172,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
173,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
174,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0